In [42]:
import pandas as pd
import numpy as np

In [43]:
train_data = pd.read_csv('au_train_clean.csv')
test_data = pd.read_csv('au_test_clean.csv')

In [44]:
test_data.head()

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.

In [45]:
test_data.tail()

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
15055,16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K.
15056,16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
15057,16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
15058,16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
15059,16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [46]:
test_data = test_data.drop(columns = ['Unnamed: 0'])

In [47]:
test_data.shape

(15060, 15)

In [48]:
train_data['class'] = train_data['class'].apply(lambda x: 1 if x==' >50K' else 0)
test_data['class'] = test_data['class'].apply(lambda x: 1 if x==' >50K.' else 0)

In [49]:
joint = pd.concat([train_data, test_data], axis=0)
categorical_features = joint.select_dtypes(include=['object']).axes[1]

C:\Users\ramss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [50]:
for col in categorical_features:
    joint = pd.concat([joint, pd.get_dummies(joint[col], prefix=col, prefix_sep=':')], axis=1)
    joint.drop(col, axis=1, inplace=True)

In [51]:
train_data = joint.head(train_data.shape[0])
test_data = joint.tail(test_data.shape[0])

In [52]:
train_data_x1 = train_data.drop(columns = ['class', 'education-num', 'capital-gain','capital-loss'])
train_data_xtar = train_data['class']

test_data_y1 = test_data.drop(columns = ['class', 'education-num','capital-gain','capital-loss'])
test_data_ytar = test_data['class']

In [53]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# scaler.fit(train_data_x1)
# train_data_x1 = scaler.transform(train_data_x1)
# test_data_y1 = scaler.transform(test_data_y1)

In [54]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [65]:
model = LogisticRegression(penalty='l2')
model.fit(train_data_x1, train_data_xtar)

Ytrain = model.predict(test_data_y1)
#Ytest = model.predict(test_data_ytar)

C:\Users\ramss\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [61]:
from sklearn.metrics import classification_report,precision_recall_fscore_support

print("Model's Accuracy values       :",model.score(train_data_xtar,test_data_ytar))

ValueError: Expected 2D array, got 1D array instead:
array=[0 0 0 ... 0 0 1].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [62]:
train_data_xtar

0        0
1        0
2        0
3        0
4        0
        ..
30157    0
30158    1
30159    0
30160    0
30161    1
Name: class, Length: 30162, dtype: int64

In [64]:
test_data_ytar

0        0
1        0
2        1
3        1
4        0
        ..
15055    0
15056    0
15057    0
15058    0
15059    1
Name: class, Length: 15060, dtype: int64